.vscode/**
.vscode-test/**
typings/**
**/*.ts
**/*.map
**/*.ts.map
src/**
node_modules/**
.gitignore
tsconfig.json
test/**
*.vsix
package-lock.json
webpack.config.js
**/.github/
**/.git/**
**/.git
**/.gitmodules
.devcontainer/
backup/**